.Form {
    position: relative;

    display: flex;
    flex-direction: column;
    width: 70%;
    float: right;
    height: 100vh;
    /* justify-content: space-around; */
}

.Form Input{
   background: #f0f0f0;
   height: 50px;
   border-radius: 50px;
   padding: 0 1.5rem;
   margin: 1rem 3rem;
}
.Button {
    
}




.HeaderTitle{
    position: absolute;
    margin: 2rem 3rem;
    top: 0;
    left: 0;
    width: 12rem;
}