@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');


body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
    
}

.Info{
    position: relative;
    height: 100vh;
    width: 30%;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-left: 55%;
}


.Info a{
    text-decoration: none;
}

.ImgContainer {
    position: relative;
}

.ImgContainer img {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 74.1%;
    z-index: -1;
}


.Avatar {
    width: 10rem;
    background-color:#A2EF8E;
    border-radius: 100%;
    margin-top: 6rem;
}

.Info Button{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1.1rem;
    height: 45px;
    margin-top: 20px;
    color: #fff;
    background: linear-gradient(90deg, #DE1645, #FF8E10);
    border-radius: 360px;
    padding: .5rem 1.8rem;
    letter-spacing: .1px;
    text-transform: none;
    
}

.Info Button:hover{
    color: #DE1645;
    background: none;
    border: 3px solid #DE1645;
}

.Info h1{
    margin-bottom: 2rem;
    font-weight: 800;
    font-size: 2.5rem;

}

.Info h2{
    font-weight: 600;
    font-size: 1.8rem;
}

.Info a{
    color: #DE1645;
    margin-bottom: 2rem;
    font-weight: 600;
    font-size: .9rem;

}

.Manual:hover {
    cursor:pointer;
} 

.TextInput {
    
}