.Header {
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0;
    background-color: #4c39d8;
    height: 60px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
  }
  
  .Navigation {
  
  }

  .Left { 
    text-align: left;
    float: left;
    width: 15rem;

  }

  .Right { 
    width: 10rem;
    text-align: right;
    float: right;
  }
  
  .HeaderLogo {
    margin-left: 10rem;
    width: 15rem;
    float: left;
  }
  
  @media (min-width: 769px) {
    .ToggleButton {
      display: none;
    }
  }
  