@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

body{

    font-family: 'Poppins', sans-serif;
}

h1{
    font-weight: 700;
    font-size: 4rem;
}
a{
    color: #DE1645;
    font-weight: 500;
    text-decoration: none;
}

.AvatarContainer a{
    color: #000;
}

.AvatarContainer a:hover{
    color: #444;
}

a:hover{
    color: #f25a7d;
}
.CircleContainer {
    position: relative;
    width: 100%;
}

.AvatarContainer img{
    width: 10rem;
    border-radius: 100%;
}

.AvatarContainer h3{
    margin-top: 0;
    margin-bottom: 3rem;
}

.CircleContainer{
    margin-top: 20px;
    margin-left: 30%;
    width:40%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.CircleBgImg img{
    position: absolute;
    width: 60%;
    right:-50px;
    bottom:0;
    z-index: -1;
}

.Modal{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 20px;
    height: 100%;

}


.ModalInfo{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-right: 50px;
    padding-left: 50px;
    height: 60%;
}

.ModalInfo h1{
    margin: 0;
    font-size: 3rem;
}
.AvatarContainer:hover {
    cursor: pointer;
}

.ModalInfo a{
    color: #000;
}

.ModalInfo a:hover{
    color: #777;
}

.ModalAvatar {
    position: relative;
    width: 15rem;
    height: 15rem;

}

.ModalButton {
    position: absolute;
    top: 0;
    left: 0;
    border: none;
    background: none;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    padding: 5px 10px;
}

.ModalButton:hover{
    border: none;
}

.ModalInfo h2{
    color: #DE1645;
    margin-top: -8px;
}



.Avatar {
    width: 5rem;

}

.Email, .Phone{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: -30px;
    padding-bottom: 10px;

}
.Email img, .Phone img{
 width: 22px;
 height: 22px;
 padding: 0 20px;
}

.Phone{
    align-self: flex-start;
}

.Email{
    align-self: flex-start;
}

.ModalLine{
    content: '';
    width: 90%;
    height: 1px;
    background-color: #777;
}

.Modal p{
    width: 500px;
    text-align: center;
}

.ModalInfo input{
    background: #f0f0f0;
   height: 40px;
   border-radius: 50px;
   padding: 0 1.5rem;
   margin: .7rem 3rem;
   border: none;
   outline: none;
   font-family: 'Poppins', sans-serif;
   font-weight: 500;
   font-size: 1rem;
   width: 300px;
   
    
}

.ModalInfo input::placeholder{
    font-weight: 300;
    font-size: 1rem;
    color: #aaa;

}
.InviteModal{
    text-align: center;
}

.ModalInfo Button{
    color: #fff;
    background-color: #DE1645;
    border-radius: 50px;
    width: 150px;
    height: 40px;
    margin: 2rem 1rem;
    margin-bottom: 0;
    text-transform: none;
    font-family: 'Poppins', sans-serif;
   font-weight: 600;
   font-size: 1rem;
    
}
.ModalInfo Button:hover{
    color: #DE1645;
    background: #fff;
}